<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>主顧榮譽書院</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow"> 
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard/style.default.css' %}" id="theme-stylesheet">
  <link rel="stylesheet" href="{% static 'css/dashboard/custom.css' %}">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
  <!-- <link rel="stylesheet" href="{% static 'css/dashboard/modal.css' %}"> -->
  <script src="{% static 'js/vue.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div class="page home-page" id="app">
    <!-- Main Navbar-->
    <header class="header">
      <nav class="navbar">
        <!-- Search Box-->
        <div class="search-box">
          <button class="dismiss"><i class="icon-close"></i></button>
          <form id="searchForm" action="#" role="search">
            <input type="search" placeholder="What are you looking for..." class="form-control">
          </form>
        </div>
        <div class="container-fluid">
          <div class="navbar-holder d-flex align-items-center justify-content-between">
            <!-- Navbar Header-->
            <div class="navbar-header">
              <!-- Navbar Brand -->
              <a href="index.html" class="navbar-brand">
                <div class="brand-text brand-big hidden-lg-down"><span>主顧榮譽書院 </span> <strong>Dashboard</strong></div>
                <div class="brand-text brand-small"><strong>BD</strong></div>
              </a>
              <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
            </div>
            <!-- Navbar Menu -->
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
              <!-- Search-->
              <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
              <!-- Notifications-->
              <li class="nav-item dropdown"> <a id="notifications" href="#" data-toggle="dropdown" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red">12</span></a>
                <ul aria-labelledby="notifications" class="dropdown-menu">
                  <li>
                    <a rel="nofollow" href="#" class="dropdown-item">
                      <div class="notification">
                        <div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages </div>
                        <div class="notification-time"><small>4 minutes ago</small></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a rel="nofollow" href="#" class="dropdown-item">
                      <div class="notification">
                        <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                        <div class="notification-time"><small>4 minutes ago</small></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a rel="nofollow" href="#" class="dropdown-item">
                      <div class="notification">
                        <div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server Rebooted</div>
                        <div class="notification-time"><small>4 minutes ago</small></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a rel="nofollow" href="#" class="dropdown-item">
                      <div class="notification">
                        <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                        <div class="notification-time"><small>10 minutes ago</small></div>
                      </div>
                    </a>
                  </li>
                  <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
                </ul>
              </li>
              <!-- Messages                        -->
              <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange">10</span></a>
                <ul aria-labelledby="notifications" class="dropdown-menu">
                  <li>
                    <a rel="nofollow" href="#" class="dropdown-item d-flex">
                      <div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                      <div class="msg-body">
                        <h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a rel="nofollow" href="#" class="dropdown-item d-flex">
                      <div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                      <div class="msg-body">
                        <h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a rel="nofollow" href="#" class="dropdown-item d-flex">
                      <div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                      <div class="msg-body">
                        <h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
                      </div>
                    </a>
                  </li>
                  <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages    </strong></a></li>
                </ul>
              </li>
              <!-- Logout    -->
              <li class="nav-item"><a href="login.html" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
      <!-- Side Navbar -->
      <nav class="side-navbar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="{% static 'img/dani.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h4">Dani</h1>
            <p>Dani</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
          <li> <a href="./"><i class="icon-home"></i>Home</a></li>
          <li> <a href="./"><i class="icon-home"></i>CMC</a></li>
          <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>申請書院 </a>
            <ul id="dashvariants" class="collapse list-unstyled">
              <li><a href="#" @click="apply='default'">未審核</a></li>
              <li><a href="#" @click="apply='accept'">通過審核</a></li>
              <li><a href="#" @click="apply='reject'">未通過審核</a></li>
            </ul>
          </li>
          <li> <a href="#"> <i class="icon-grid"></i>書院聯絡人 </a></li>
        </ul>
      </nav>
      <div class="content-inner">
        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">Dashboard</h2>
          </div>
        </header>
        {% block content %} {% endblock %}

        <footer class="main-footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <p>Your company &copy; 2017-2019</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <template id="student_intro">
    <div>
      <h5 class="form-control-label">自我介紹：</h5>
      <pre>
      ${ student_data.Student_introduction }
    </pre>
    </div>
  </template>
  <template id="accept_letter">
    <div>
      <form action="/dashboard/send_email/" method="GET">
        <div>
          <input type="hidden" name="student_id" v-model="accept_data.Student_id">
          <input type="hidden" name="student_permission" value="reject">
        </div>
        <div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">To: ${ accept_data.Student_name }&lt;${ accept_data.Student_email }&gt;</label>
            <input type="hidden" name="student_email" v-model="accept_data.Student_email">
            <input type="hidden" name="student_permission" value="accept">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Message:</label>
            <textarea class="form-control" id="message-text" name="letter_content" rows="8" v-model="accept_content"></textarea>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary float-right">發信</button>
        </div>
      </form>
    </div>
  </template>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap/tether.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/dashboard/jquery.cookie.js' %}">
  </script>
  <script src="{% static 'js/dashboard/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/dashboard/front.js' %}"></script>
  <script src="{% static 'js/dashboard/admin-vue.js' %}"></script>
  <script>
    Vue.component('modal', {
      template: '#modal-template',
      delimiters: ['${', '}'],
      props: ["member_data"],
      data: function () {
        return {
          status: 0
        }
      }
    })
  </script>
</body>

</html>