<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>教育發展中心</title>
  {% load staticfiles %}
  <link rel="icon" href="{% static 'img/PU_Logo.png' %}">
  <meta property="og:title" content="主顧榮譽書院"></meta>
  <meta property="og:url" content="https://honorschool.herokuapp.com/"></meta>
  <meta property="og:img" content="{% static 'img/12301463_172298809788180_7066381138210018335_n.png' %}"></meta>
  <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="container">
        <a class="navbar-brand" href="/"><img class="nav-img" src="{% static 'img/HEAD.png' %}" alt="" width="30%"><img src="{% static 'img/PU_Logo.png' %}" width="30%;">教學發展中心</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/news/">最新消息 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              關於中心
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/about/">組織規劃</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/conference/">研究議題</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/activity/">活動集錦</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">資料分析</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    <div id="footer">
      <div class="container">
        <p>Copyright © 2017 CCI, Providence University 競技程式培力基地</p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>