{% extends 'front/base.html' %} {% load staticfiles %} {% block header %}
<link rel="stylesheet" href="{% static 'css/index/conference.css' %}">
<div class="jumbotron">
    <div class="container jumbotron-content">
        <h1>研究議題</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron
            and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>
</div>
{% endblock %} {% block content %}

{% endblock %}