{% extends 'front/base.html' %} 
{% load staticfiles %}
{% block header %}
<div id="header-wrapper" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#header-wrapper" data-slide-to="0" class="active"></li>
    <li data-target="#header-wrapper" data-slide-to="1"></li>
    <li data-target="#header-wrapper" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="d-block bg-img" style="background: url('{% static "img/1-1.jpg" %}');" alt="First slide">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block bg-img" style="background: url('{% static "img/2.jpg" %}')" alt="Second slide"></div>
    </div>
    <div class="carousel-item">
      <div class="d-block bg-img" style="background: url('{% static "img/3.jpg" %}')" alt="Third slide"></div>
    </div>
  </div>
  <a class="carousel-control-prev carousel-control" href="#header-wrapper" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next carousel-control" href="#header-wrapper" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="header-content">
  <h1>靜宜大學 - 教學發展中心</h1>
  <h4>Providence University</h4>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div id="new-messages">
    <h1 id="new-title">最新消息</h1>
    <table class="table table-striped">
      <thead>
        <tr class="table-success">
          <th>時間</th>
          <th>種類</th>
          <th>標題</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2017-07-25</td>
          <td>活動公告</td>
          <td>
            <a href="#">深度學習研討會：工業4.0與影像醫學分析應用與實例」研討會</a>
          </td>
        </tr>
        <tr>
          <td>2017-08-16</td>
          <td>活動公告</td>
          <td><a href="#">理學院「高中科學營」　激發潛能　體驗科學神祕樣貌　(自由) (聯合) (中時) (中廣)</a></td>
        </tr>
        <tr>
          <td>2017-09-29</td>
          <td>活動公告</td>
          <td><a href="#">資傳系打造動畫培育基地 產學合作厚植學生實力 　(自由) (中時) (聯合) (中廣)</a></td>
        </tr>
        <tr>
          <td>2017-09-29</td>
          <td>活動公告</td>
          <td><a href="#">西文系新生「熱情西班牙語初體驗」研習營 　(中時) (自由) (中廣)</a></td>
        </tr>
        <tr>
          <td>2017-09-29</td>
          <td>活動公告</td>
          <td><a href="#">靜宜偏鄉傳愛「樂活教學WIN─科普闖關活動」　豐富學童暑假生活　(中時) (自由) (聯合) (中廣)</a></td>
        </tr>
        <tr>
          <td>2017-09-29</td>
          <td>活動公告</td>
          <td><a href="#">靜宜大學國際音樂節　音樂美學扎根校園　(中時) (自由) (聯合) (中廣) (教育電台)</a></td>
        </tr>
        <tr>
          <td>2017-09-29</td>
          <td>活動公告</td>
          <td><a href="#">奉獻台灣一甲子　曾任教靜宜大學　美籍曾顯道神父獲得身分證　(媒體報導)</a></td>
        </tr>
        <tr>
          <td>2017-09-29</td>
          <td>活動公告</td>
          <td><a href="#">職涯探索扎根活動　協助高中職生探索自我　規劃未來　(中時) (聯合) (自由) (中廣)</a></td>
        </tr>
        <tr>
          <td>2017-09-29</td>
          <td>活動公告</td>
          <td><a href="#">靜宜大學EMBA半程馬拉松　挑戰自我　創出佳績　(中時) (中廣) (中華)</a></td>
        </tr>
        <tr>
          <td>2017-09-29</td>
          <td>活動公告</td>
          <td><a href="#">靜宜大學「海外華裔青年臺灣觀摩團」　體驗台灣文化　(中時) (聯合) (自由) (中廣)</a></td>
        </tr>
      </tbody>
    </table>
    <nav id="nav-page" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock%}